<!DOCTYPE html>
 <html>
   <head>

     <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
     <title>Documentos</title>
     <link rel="stylesheet" href="/css/materialize.css">
     <link rel="stylesheet" href="/css/style.css">
   </head>

   <body>
     <h1 ><%=nome %></h1>
     Teste
   </body>

   <script src="/js/materialize.js"></script>
 </html>
